PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://postgres:12345@localhost:5432/tickets?schema=public"

JWT_SECRET="genera-secreto-aleatorio-32-caracteres"
JWT_EXPIRES_IN="7d"

REDIS_URL=redis://localhost:6379

FRONTEND_URL="http://localhost:5173"
CORS_ORIGIN="http://localhost:5173"

GOOGLE_CLIENT_ID="124824460088-iavm046i3g49ufootejhdaavt1vomvve.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback